* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    height: auto;
    background-color: #202020;
    display: flex;
    align-items: center;
    padding: 0 10px;
    flex-wrap: wrap;
    justify-content: space-between;
}

img.list {
    width: 32px;
    height: 32px;
    margin-right: 10px;
    object-fit: contain;
}

.AniSearch {
    font-family: 'Jua', sans-serif;
    font-size: 2rem;
    color: #fff;
}

.icons {
    margin-left: auto;
    display: flex;
    gap: 20px;
}

.icons a {
    display: block;
}

.icons img {
    width: 28px;
    height: 28px;
}

.list.active {
    background-color: #575757;
    border-radius: 5px;
}

.side-menu {
    position: fixed;
    left: -250px;
    top: 40px;
    width: 250px;
    height: calc(100% - 40px);
    background-color: #333;
    color: white;
    transition: left 0.3s ease;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-content: space-between;

}

.side-menu ul {
    list-style-type: none;
    padding: 0;
}

.side-menu ul li {
    margin: 30px 0;

}

.side-menu ul li a {
    font-family: Arial;
    font-size: 16px;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.9);
    text-decoration: none;
    display: block;
    padding: 10px 15px;
    border-radius: 20px;
    height: 40px;
    line-height: 20px;
    transition: background-color 0.3s ease, border-radius 0.3s ease;
}

.side-menu ul li a:hover {
    background-color: #575757;
}

.side-menu.active {
    left: 0;
}

.no-scroll {
    overflow: hidden;
}

.menu-in {
    padding: 0;
    margin: 0;
    list-style-type: none;
    border-bottom: 1px solid black;
}

.menu-in:last-child {
    border-bottom: none;
}

.anisearch{
  font-size: 16px;
  text-decoration: none;
  color: white;
  font-family: Jua;
}