{% extends 'main/base.html' %}
{% load static %}

{% block css-add %}
	<link rel="stylesheet" href="{% static 'deps/css/main.css' %}">
{% endblock %}

<body>
<main>
{% block content %}
    <div class="container">
        <div class="info">
                <span class="text-left">
                    Новинки
                </span>
            <img src="{% static 'deps/icon/more_horiz.png' %}" class="more-horiz">
        </div>
    </div>

    <div class="scroll">
        {% include 'main/anime-list.html' %}
    </div>
    <div class="container">
        <div class="info">
                <span class="text-left">
                    На Екранах
                </span>
            <span class="text-right">
                    Топ рейтингу
                </span>
        </div>
    </div>
    <div class="container-2">
        <div class="lastrel">
            {% include 'main/anime-list.html' %}
        </div>
        <div class="container-in">
            <div class="block1">
                {% include 'main/anime-list-tops.html' %}
            </div>
            <div class="view">
                    <span class="top-view">
                        Топ перереглядів
                      </span>
            </div>
            <div class="block2">
                <div class="ani-link" id="top-anime-container">
                    {% for content in popular_anime %}
                        <div class="anime-item">
                            <a href="#" class="content">
                                <img class="content-img" src="{{ content.image }}" alt="{{ content.title }}"/>
                            </a>
                            <a href="#" class="content-text">
                                <p>{{ content.title }}</p>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
</main>

</body>
</html>
